<% include partials/header %>

<section class="blog-image">    
        <img src="<%= post.image %> ">
        
    
</section>

<section class="blog-description" >
        <h1><%= post.title %></h1>
    <p><%= post.description %></p>
</section>





<% include partials/footer %>